WSAccountService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="createAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
      <element maxOccurs="unbounded" name="wsAttrs" type="tns1:WSAttribute"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="createAccountResponse">
    <complexType>
     <sequence>
      <element name="createAccountReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="fault" type="tns2:WSLoginServiceException"/>
   <element name="deprovisionAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="deprovisionAccountResponse">
    <complexType>
     <sequence>
      <element name="deprovisionAccountReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountAttributes">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountAttributesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAccountAttributesReturn" type="tns1:WSAttribute"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault2" type="tns2:WSInvalidSessionException"/>
   <element name="getAccountProfileForService">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountProfileForServiceResponse">
    <complexType>
     <sequence>
      <element name="getAccountProfileForServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDefaultAccountAttributes">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDefaultAccountAttributesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDefaultAccountAttributesReturn" type="tns1:WSAttribute"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
      <element maxOccurs="unbounded" name="wsAttrs" type="tns1:WSAttribute"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAccountResponse">
    <complexType>
     <sequence>
      <element name="modifyAccountReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="restoreAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="restoreAccountResponse">
    <complexType>
     <sequence>
      <element name="restoreAccountReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="suspendAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="suspendAccountResponse">
    <complexType>
     <sequence>
      <element name="suspendAccountReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
      <element maxOccurs="unbounded" name="wsAttrs" type="tns1:WSAttribute"/>
      <element name="date" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateAccountResponse">
    <complexType>
     <sequence>
      <element name="updateAccountReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSRequest">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="processState" nillable="true" type="xsd:string"/>
     <element name="processStateString" nillable="true" type="xsd:string"/>
     <element name="processType" nillable="true" type="xsd:string"/>
     <element name="processTypeString" nillable="true" type="xsd:string"/>
     <element name="requestId" type="xsd:long"/>
     <element name="requestee" nillable="true" type="xsd:string"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
     <element name="status" type="xsd:int"/>
     <element name="statusString" nillable="true" type="xsd:string"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="subjectProfile" nillable="true" type="xsd:string"/>
     <element name="subjectService" nillable="true" type="xsd:string"/>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="timeScheduled" nillable="true" type="xsd:dateTime"/>
     <element name="timeSubmitted" nillable="true" type="xsd:dateTime"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="modifyAccountRequest">

      <wsdl:part element="impl:modifyAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="suspendAccountRequest">

      <wsdl:part element="impl:suspendAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createAccountRequest">

      <wsdl:part element="impl:createAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAccountProfileForServiceResponse">

      <wsdl:part element="impl:getAccountProfileForServiceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="deprovisionAccountResponse">

      <wsdl:part element="impl:deprovisionAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDefaultAccountAttributesResponse">

      <wsdl:part element="impl:getDefaultAccountAttributesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="modifyAccountResponse">

      <wsdl:part element="impl:modifyAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidSessionException">

      <wsdl:part element="impl:fault2" name="fault2"/>

   </wsdl:message>

   <wsdl:message name="deprovisionAccountRequest">

      <wsdl:part element="impl:deprovisionAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDefaultAccountAttributesRequest">

      <wsdl:part element="impl:getDefaultAccountAttributes" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="restoreAccountRequest">

      <wsdl:part element="impl:restoreAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAccountProfileForServiceRequest">

      <wsdl:part element="impl:getAccountProfileForService" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="suspendAccountResponse">

      <wsdl:part element="impl:suspendAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="createAccountResponse">

      <wsdl:part element="impl:createAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAccountAttributesResponse">

      <wsdl:part element="impl:getAccountAttributesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateAccountRequest">

      <wsdl:part element="impl:updateAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="updateAccountResponse">

      <wsdl:part element="impl:updateAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="restoreAccountResponse">

      <wsdl:part element="impl:restoreAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAccountAttributesRequest">

      <wsdl:part element="impl:getAccountAttributes" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSAccountService">

      <wsdl:operation name="createAccount">

         <wsdl:input message="impl:createAccountRequest" name="createAccountRequest"/>

         <wsdl:output message="impl:createAccountResponse" name="createAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="deprovisionAccount">

         <wsdl:input message="impl:deprovisionAccountRequest" name="deprovisionAccountRequest"/>

         <wsdl:output message="impl:deprovisionAccountResponse" name="deprovisionAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getAccountAttributes">

         <wsdl:input message="impl:getAccountAttributesRequest" name="getAccountAttributesRequest"/>

         <wsdl:output message="impl:getAccountAttributesResponse" name="getAccountAttributesResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getAccountProfileForService">

         <wsdl:input message="impl:getAccountProfileForServiceRequest" name="getAccountProfileForServiceRequest"/>

         <wsdl:output message="impl:getAccountProfileForServiceResponse" name="getAccountProfileForServiceResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getDefaultAccountAttributes">

         <wsdl:input message="impl:getDefaultAccountAttributesRequest" name="getDefaultAccountAttributesRequest"/>

         <wsdl:output message="impl:getDefaultAccountAttributesResponse" name="getDefaultAccountAttributesResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyAccount">

         <wsdl:input message="impl:modifyAccountRequest" name="modifyAccountRequest"/>

         <wsdl:output message="impl:modifyAccountResponse" name="modifyAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="restoreAccount">

         <wsdl:input message="impl:restoreAccountRequest" name="restoreAccountRequest"/>

         <wsdl:output message="impl:restoreAccountResponse" name="restoreAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="suspendAccount">

         <wsdl:input message="impl:suspendAccountRequest" name="suspendAccountRequest"/>

         <wsdl:output message="impl:suspendAccountResponse" name="suspendAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="updateAccount">

         <wsdl:input message="impl:updateAccountRequest" name="updateAccountRequest"/>

         <wsdl:output message="impl:updateAccountResponse" name="updateAccountResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSAccountServiceSoapBinding" type="impl:WSAccountService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deprovisionAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deprovisionAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deprovisionAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAccountAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountAttributesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountAttributesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAccountProfileForService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountProfileForServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountProfileForServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDefaultAccountAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDefaultAccountAttributesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDefaultAccountAttributesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="restoreAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="restoreAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="restoreAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="suspendAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="suspendAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="suspendAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="updateAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSAccountServiceService">

      <wsdl:port binding="impl:WSAccountServiceSoapBinding" name="WSAccountService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9081/ITIMWebServices/services/WSAccountService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
