WSOrganizationalContainerService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="getOrganizations">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrganizationsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOrganizationsReturn" type="tns1:WSOrganizationalContainer"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSAttribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSAttribute"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSOrganizationalContainer">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSOrganizationalContainer"/>
    </sequence>
   </complexType>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="fault" type="tns2:WSLoginServiceException"/>
   <element name="getOrganizationSubTree">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="parent" type="tns1:WSOrganizationalContainer"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrganizationSubTreeResponse">
    <complexType>
     <sequence>
      <element name="getOrganizationSubTreeReturn" type="tns1:WSOrganizationalContainer"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrganizationTree">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrganizationTreeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getOrganizationTreeReturn" type="tns1:WSOrganizationalContainer"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchContainerByAttribute">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="parent" type="tns1:WSOrganizationalContainer"/>
      <element name="attributeName" type="xsd:string"/>
      <element name="attributeValue" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchContainerByAttributeResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchContainerByAttributeReturn" type="tns1:WSOrganizationalContainer"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchContainerByName">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="parent" type="tns1:WSOrganizationalContainer"/>
      <element name="profileName" type="xsd:string"/>
      <element name="containerName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchContainerByNameResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchContainerByNameReturn" type="tns1:WSOrganizationalContainer"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSObject">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns1_WSAttribute"/>
     <element name="itimDN" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="WSOrganizationalContainer">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="children" nillable="true" type="impl:ArrayOf_tns1_WSOrganizationalContainer"/>
       <element name="parentDN" nillable="true" type="xsd:string"/>
       <element name="profileName" nillable="true" type="xsd:string"/>
       <element name="supervisorDN" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchContainerByNameResponse">

      <wsdl:part element="impl:searchContainerByNameResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchContainerByAttributeResponse">

      <wsdl:part element="impl:searchContainerByAttributeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrganizationTreeResponse">

      <wsdl:part element="impl:getOrganizationTreeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrganizationTreeRequest">

      <wsdl:part element="impl:getOrganizationTree" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrganizationSubTreeRequest">

      <wsdl:part element="impl:getOrganizationSubTree" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="getOrganizationsResponse">

      <wsdl:part element="impl:getOrganizationsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchContainerByNameRequest">

      <wsdl:part element="impl:searchContainerByName" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrganizationsRequest">

      <wsdl:part element="impl:getOrganizations" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getOrganizationSubTreeResponse">

      <wsdl:part element="impl:getOrganizationSubTreeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="searchContainerByAttributeRequest">

      <wsdl:part element="impl:searchContainerByAttribute" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSOrganizationalContainerService">

      <wsdl:operation name="getOrganizations">

         <wsdl:input message="impl:getOrganizationsRequest" name="getOrganizationsRequest"/>

         <wsdl:output message="impl:getOrganizationsResponse" name="getOrganizationsResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getOrganizationSubTree">

         <wsdl:input message="impl:getOrganizationSubTreeRequest" name="getOrganizationSubTreeRequest"/>

         <wsdl:output message="impl:getOrganizationSubTreeResponse" name="getOrganizationSubTreeResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getOrganizationTree">

         <wsdl:input message="impl:getOrganizationTreeRequest" name="getOrganizationTreeRequest"/>

         <wsdl:output message="impl:getOrganizationTreeResponse" name="getOrganizationTreeResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchContainerByAttribute">

         <wsdl:input message="impl:searchContainerByAttributeRequest" name="searchContainerByAttributeRequest"/>

         <wsdl:output message="impl:searchContainerByAttributeResponse" name="searchContainerByAttributeResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchContainerByName">

         <wsdl:input message="impl:searchContainerByNameRequest" name="searchContainerByNameRequest"/>

         <wsdl:output message="impl:searchContainerByNameResponse" name="searchContainerByNameResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSOrganizationalContainerServiceSoapBinding" type="impl:WSOrganizationalContainerService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrganizations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrganizationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrganizationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getOrganizationSubTree">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrganizationSubTreeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrganizationSubTreeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getOrganizationTree">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrganizationTreeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrganizationTreeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchContainerByAttribute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchContainerByAttributeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchContainerByAttributeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchContainerByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchContainerByNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchContainerByNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSOrganizationalContainerServiceService">

      <wsdl:port binding="impl:WSOrganizationalContainerServiceSoapBinding" name="WSOrganizationalContainerService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9081/ITIMWebServices/services/WSOrganizationalContainerService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
