WSPasswordService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="changePassword">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changePasswordResponse">
    <complexType>
     <sequence>
      <element name="changePasswordReturn" type="tns1:WSRequest"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault3" type="tns2:WSPasswordRuleException"/>
   <element name="fault2" type="tns2:WSApplicationException"/>
   <element name="fault4" type="tns2:WSInvalidPasswordException"/>
   <element name="fault1" type="tns2:WSLoginServiceException"/>
   <element name="fault" type="tns2:WSInvalidSessionException"/>
   <element name="generatePassword">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordResponse">
    <complexType>
     <sequence>
      <element name="generatePasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordForService">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generatePasswordForServiceResponse">
    <complexType>
     <sequence>
      <element name="generatePasswordForServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPasswordRules">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPasswordRulesResponse">
    <complexType>
     <sequence>
      <element name="getPasswordRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordValid">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="accountDNs" type="xsd:string"/>
      <element name="newPassword" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordValidResponse">
    <complexType>
     <sequence>
      <element name="isPasswordValidReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="joinRules">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="wsPris" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="joinRulesResponse">
    <complexType>
     <sequence>
      <element name="joinRulesReturn" type="tns1:WSPasswordRulesInfo"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSRequest">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="owner" nillable="true" type="xsd:string"/>
     <element name="processState" nillable="true" type="xsd:string"/>
     <element name="processStateString" nillable="true" type="xsd:string"/>
     <element name="processType" nillable="true" type="xsd:string"/>
     <element name="processTypeString" nillable="true" type="xsd:string"/>
     <element name="requestId" type="xsd:long"/>
     <element name="requestee" nillable="true" type="xsd:string"/>
     <element name="result" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
     <element name="status" type="xsd:int"/>
     <element name="statusString" nillable="true" type="xsd:string"/>
     <element name="subject" nillable="true" type="xsd:string"/>
     <element name="subjectProfile" nillable="true" type="xsd:string"/>
     <element name="subjectService" nillable="true" type="xsd:string"/>
     <element name="timeCompleted" nillable="true" type="xsd:dateTime"/>
     <element name="timeScheduled" nillable="true" type="xsd:dateTime"/>
     <element name="timeSubmitted" nillable="true" type="xsd:dateTime"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSPasswordRulesInfo">
    <sequence>
     <element name="allowInDictionary" type="xsd:boolean"/>
     <element name="allowUserID" type="xsd:boolean"/>
     <element name="allowUserIDCaseInsensitive" type="xsd:boolean"/>
     <element name="allowUserName" type="xsd:boolean"/>
     <element name="allowUserNameCaseInsensitive" type="xsd:boolean"/>
     <element name="customRules" nillable="true" type="apachesoap:Map"/>
     <element name="invalidChars" nillable="true" type="xsd:string"/>
     <element name="maxLength" type="xsd:int"/>
     <element name="maxSequentialCharacters" type="xsd:int"/>
     <element name="maxValidityPeriod" type="xsd:long"/>
     <element name="minAlphabeticCharacters" type="xsd:int"/>
     <element name="minDigitCharacters" type="xsd:int"/>
     <element name="minDistinctCharacters" type="xsd:int"/>
     <element name="minLength" type="xsd:int"/>
     <element name="minValidityPeriod" type="xsd:long"/>
     <element name="repeatedHistoryLength" type="xsd:int"/>
     <element name="requiredChars" nillable="true" type="xsd:string"/>
     <element name="restrictedToChars" nillable="true" type="xsd:string"/>
     <element name="reversedHistoryLength" type="xsd:int"/>
     <element name="startsWithChars" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="mapItem">
    <sequence>
     <element name="key" nillable="true" type="xsd:anyType"/>
     <element name="value" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <complexType name="Map">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="apachesoap:mapItem"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="WSPasswordRuleException">
    <sequence>
     <element name="wsPri1" nillable="true" type="tns1:WSPasswordRulesInfo"/>
     <element name="wsPri2" nillable="true" type="tns1:WSPasswordRulesInfo"/>
    </sequence>
   </complexType>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidPasswordException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="WSPasswordRuleException">

      <wsdl:part element="impl:fault3" name="fault3"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordForServiceResponse">

      <wsdl:part element="impl:generatePasswordForServiceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordRequest">

      <wsdl:part element="impl:generatePassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isPasswordValidResponse">

      <wsdl:part element="impl:isPasswordValidResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isPasswordValidRequest">

      <wsdl:part element="impl:isPasswordValid" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidPasswordException">

      <wsdl:part element="impl:fault4" name="fault4"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault2" name="fault2"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidSessionException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordResponse">

      <wsdl:part element="impl:generatePasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="generatePasswordForServiceRequest">

      <wsdl:part element="impl:generatePasswordForService" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changePasswordResponse">

      <wsdl:part element="impl:changePasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="joinRulesResponse">

      <wsdl:part element="impl:joinRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getPasswordRulesRequest">

      <wsdl:part element="impl:getPasswordRules" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changePasswordRequest">

      <wsdl:part element="impl:changePassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="getPasswordRulesResponse">

      <wsdl:part element="impl:getPasswordRulesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="joinRulesRequest">

      <wsdl:part element="impl:joinRules" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSPasswordService">

      <wsdl:operation name="changePassword">

         <wsdl:input message="impl:changePasswordRequest" name="changePasswordRequest"/>

         <wsdl:output message="impl:changePasswordResponse" name="changePasswordResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSInvalidPasswordException" name="WSInvalidPasswordException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="impl:WSPasswordRuleException" name="WSPasswordRuleException"/>

      </wsdl:operation>

      <wsdl:operation name="generatePassword">

         <wsdl:input message="impl:generatePasswordRequest" name="generatePasswordRequest"/>

         <wsdl:output message="impl:generatePasswordResponse" name="generatePasswordResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="generatePasswordForService">

         <wsdl:input message="impl:generatePasswordForServiceRequest" name="generatePasswordForServiceRequest"/>

         <wsdl:output message="impl:generatePasswordForServiceResponse" name="generatePasswordForServiceResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getPasswordRules">

         <wsdl:input message="impl:getPasswordRulesRequest" name="getPasswordRulesRequest"/>

         <wsdl:output message="impl:getPasswordRulesResponse" name="getPasswordRulesResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="isPasswordValid">

         <wsdl:input message="impl:isPasswordValidRequest" name="isPasswordValidRequest"/>

         <wsdl:output message="impl:isPasswordValidResponse" name="isPasswordValidResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSInvalidPasswordException" name="WSInvalidPasswordException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="impl:WSPasswordRuleException" name="WSPasswordRuleException"/>

      </wsdl:operation>

      <wsdl:operation name="joinRules">

         <wsdl:input message="impl:joinRulesRequest" name="joinRulesRequest"/>

         <wsdl:output message="impl:joinRulesResponse" name="joinRulesResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

         <wsdl:fault message="impl:WSPasswordRuleException" name="WSPasswordRuleException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSPasswordServiceSoapBinding" type="impl:WSPasswordService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidPasswordException">

            <wsdlsoap:fault name="WSInvalidPasswordException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="generatePassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generatePasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generatePasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="generatePasswordForService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generatePasswordForServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generatePasswordForServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPasswordRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPasswordRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isPasswordValid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isPasswordValidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isPasswordValidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSInvalidPasswordException">

            <wsdlsoap:fault name="WSInvalidPasswordException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="joinRules">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="joinRulesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="joinRulesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSPasswordRuleException">

            <wsdlsoap:fault name="WSPasswordRuleException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSPasswordServiceService">

      <wsdl:port binding="impl:WSPasswordServiceSoapBinding" name="WSPasswordService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9081/ITIMWebServices/services/WSPasswordService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
