WSSessionService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://exceptions.ws.itim.ibm.com" xmlns:tns2="http://model.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="getChallengeQuestions">
    <complexType>
     <sequence>
      <element name="principle" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChallengeQuestionsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getChallengeQuestionsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:WSApplicationException"/>
   <element name="getItimFixpackLevel">
    <complexType/>
   </element>
   <element name="getItimFixpackLevelResponse">
    <complexType>
     <sequence>
      <element name="getItimFixpackLevelReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItimVersion">
    <complexType/>
   </element>
   <element name="getItimVersionResponse">
    <complexType>
     <sequence>
      <element name="getItimVersionReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItimVersionInfo">
    <complexType/>
   </element>
   <element name="getItimVersionInfoResponse">
    <complexType>
     <sequence>
      <element name="getItimVersionInfoReturn" type="tns2:WSVersionInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault1" type="tns1:WSUnsupportedVersionException"/>
   <element name="getWebServicesBuildNumber">
    <complexType/>
   </element>
   <element name="getWebServicesBuildNumberResponse">
    <complexType>
     <sequence>
      <element name="getWebServicesBuildNumberReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWebServicesTargetType">
    <complexType/>
   </element>
   <element name="getWebServicesTargetTypeResponse">
    <complexType>
     <sequence>
      <element name="getWebServicesTargetTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWebServicesVersion">
    <complexType/>
   </element>
   <element name="getWebServicesVersionResponse">
    <complexType>
     <sequence>
      <element name="getWebServicesVersionReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordEditingAllowed">
    <complexType>
     <sequence>
      <element name="session" type="tns2:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordEditingAllowedResponse">
    <complexType>
     <sequence>
      <element name="isPasswordEditingAllowedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault2" type="tns1:WSInvalidSessionException"/>
   <element name="login">
    <complexType>
     <sequence>
      <element name="principal" type="xsd:string"/>
      <element name="credential" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="tns2:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault3" type="tns1:WSLoginServiceException"/>
   <element name="fault4" type="tns1:WSInvalidLoginException"/>
   <element name="lostPasswordLoginDirectEntry">
    <complexType>
     <sequence>
      <element name="principle" type="xsd:string"/>
      <element maxOccurs="unbounded" name="challengeInfo" type="tns2:WSChallengeResponseInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="lostPasswordLoginDirectEntryResponse">
    <complexType>
     <sequence>
      <element name="lostPasswordLoginDirectEntryReturn" type="tns2:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="lostPasswordLoginResetPassword">
    <complexType>
     <sequence>
      <element name="principle" type="xsd:string"/>
      <element maxOccurs="unbounded" name="challengeInfo" type="tns2:WSChallengeResponseInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="lostPasswordLoginResetPasswordResponse">
    <complexType>
     <sequence>
      <element name="lostPasswordLoginResetPasswordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSUnsupportedVersionException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns1:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSInvalidLoginException">
    <complexContent>
     <extension base="tns1:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSVersionInfo">
    <sequence>
     <element name="buildDate" nillable="true" type="xsd:string"/>
     <element name="buildNumber" nillable="true" type="xsd:string"/>
     <element name="buildTime" nillable="true" type="xsd:string"/>
     <element name="fixPackLevel" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSChallengeResponseInfo">
    <sequence>
     <element name="answer" nillable="true" type="xsd:string"/>
     <element name="question" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getWebServicesBuildNumberResponse">

      <wsdl:part element="impl:getWebServicesBuildNumberResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionRequest">

      <wsdl:part element="impl:getItimVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimFixpackLevelResponse">

      <wsdl:part element="impl:getItimFixpackLevelResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesVersionResponse">

      <wsdl:part element="impl:getWebServicesVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesBuildNumberRequest">

      <wsdl:part element="impl:getWebServicesBuildNumber" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionResponse">

      <wsdl:part element="impl:getItimVersionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimFixpackLevelRequest">

      <wsdl:part element="impl:getItimFixpackLevel" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidSessionException">

      <wsdl:part element="impl:fault2" name="fault2"/>

   </wsdl:message>

   <wsdl:message name="WSUnsupportedVersionException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="lostPasswordLoginDirectEntryRequest">

      <wsdl:part element="impl:lostPasswordLoginDirectEntry" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionInfoRequest">

      <wsdl:part element="impl:getItimVersionInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesTargetTypeRequest">

      <wsdl:part element="impl:getWebServicesTargetType" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault3" name="fault3"/>

   </wsdl:message>

   <wsdl:message name="isPasswordEditingAllowedRequest">

      <wsdl:part element="impl:isPasswordEditingAllowed" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="isPasswordEditingAllowedResponse">

      <wsdl:part element="impl:isPasswordEditingAllowedResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesVersionRequest">

      <wsdl:part element="impl:getWebServicesVersion" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lostPasswordLoginResetPasswordRequest">

      <wsdl:part element="impl:lostPasswordLoginResetPassword" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChallengeQuestionsRequest">

      <wsdl:part element="impl:getChallengeQuestions" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWebServicesTargetTypeResponse">

      <wsdl:part element="impl:getWebServicesTargetTypeResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lostPasswordLoginDirectEntryResponse">

      <wsdl:part element="impl:lostPasswordLoginDirectEntryResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="lostPasswordLoginResetPasswordResponse">

      <wsdl:part element="impl:lostPasswordLoginResetPasswordResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChallengeQuestionsResponse">

      <wsdl:part element="impl:getChallengeQuestionsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidLoginException">

      <wsdl:part element="impl:fault4" name="fault4"/>

   </wsdl:message>

   <wsdl:message name="getItimVersionInfoResponse">

      <wsdl:part element="impl:getItimVersionInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSSessionService">

      <wsdl:operation name="getChallengeQuestions">

         <wsdl:input message="impl:getChallengeQuestionsRequest" name="getChallengeQuestionsRequest"/>

         <wsdl:output message="impl:getChallengeQuestionsResponse" name="getChallengeQuestionsResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getItimFixpackLevel">

         <wsdl:input message="impl:getItimFixpackLevelRequest" name="getItimFixpackLevelRequest"/>

         <wsdl:output message="impl:getItimFixpackLevelResponse" name="getItimFixpackLevelResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getItimVersion">

         <wsdl:input message="impl:getItimVersionRequest" name="getItimVersionRequest"/>

         <wsdl:output message="impl:getItimVersionResponse" name="getItimVersionResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getItimVersionInfo">

         <wsdl:input message="impl:getItimVersionInfoRequest" name="getItimVersionInfoRequest"/>

         <wsdl:output message="impl:getItimVersionInfoResponse" name="getItimVersionInfoResponse"/>

         <wsdl:fault message="impl:WSUnsupportedVersionException" name="WSUnsupportedVersionException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesBuildNumber">

         <wsdl:input message="impl:getWebServicesBuildNumberRequest" name="getWebServicesBuildNumberRequest"/>

         <wsdl:output message="impl:getWebServicesBuildNumberResponse" name="getWebServicesBuildNumberResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesTargetType">

         <wsdl:input message="impl:getWebServicesTargetTypeRequest" name="getWebServicesTargetTypeRequest"/>

         <wsdl:output message="impl:getWebServicesTargetTypeResponse" name="getWebServicesTargetTypeResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesVersion">

         <wsdl:input message="impl:getWebServicesVersionRequest" name="getWebServicesVersionRequest"/>

         <wsdl:output message="impl:getWebServicesVersionResponse" name="getWebServicesVersionResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="isPasswordEditingAllowed">

         <wsdl:input message="impl:isPasswordEditingAllowedRequest" name="isPasswordEditingAllowedRequest"/>

         <wsdl:output message="impl:isPasswordEditingAllowedResponse" name="isPasswordEditingAllowedResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

         <wsdl:fault message="impl:WSInvalidLoginException" name="WSInvalidLoginException"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="lostPasswordLoginDirectEntry">

         <wsdl:input message="impl:lostPasswordLoginDirectEntryRequest" name="lostPasswordLoginDirectEntryRequest"/>

         <wsdl:output message="impl:lostPasswordLoginDirectEntryResponse" name="lostPasswordLoginDirectEntryResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

      <wsdl:operation name="lostPasswordLoginResetPassword">

         <wsdl:input message="impl:lostPasswordLoginResetPasswordRequest" name="lostPasswordLoginResetPasswordRequest"/>

         <wsdl:output message="impl:lostPasswordLoginResetPasswordResponse" name="lostPasswordLoginResetPasswordResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSSessionServiceSoapBinding" type="impl:WSSessionService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getChallengeQuestions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChallengeQuestionsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getChallengeQuestionsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getItimFixpackLevel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItimFixpackLevelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItimFixpackLevelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getItimVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItimVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItimVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getItimVersionInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItimVersionInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItimVersionInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSUnsupportedVersionException">

            <wsdlsoap:fault name="WSUnsupportedVersionException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesBuildNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebServicesBuildNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebServicesBuildNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesTargetType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebServicesTargetTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebServicesTargetTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebServicesVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebServicesVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebServicesVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isPasswordEditingAllowed">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isPasswordEditingAllowedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isPasswordEditingAllowedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidLoginException">

            <wsdlsoap:fault name="WSInvalidLoginException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lostPasswordLoginDirectEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lostPasswordLoginDirectEntryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lostPasswordLoginDirectEntryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="lostPasswordLoginResetPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="lostPasswordLoginResetPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="lostPasswordLoginResetPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSSessionServiceService">

      <wsdl:port binding="impl:WSSessionServiceSoapBinding" name="WSSessionService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9082/ITIMWebServices/services/WSSessionService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
