WSServiceService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="getServiceForAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="accountDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceForAccountResponse">
    <complexType>
     <sequence>
      <element name="getServiceForAccountReturn" type="tns1:WSService"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSAttribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSAttribute"/>
    </sequence>
   </complexType>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="fault" type="tns2:WSLoginServiceException"/>
   <element name="getServices">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServicesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getServicesReturn" type="tns1:WSService"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSupportingData">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
      <element name="searchFilter" type="xsd:string"/>
      <element name="supportingDataAttrName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSupportingDataResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSupportingDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordRequired">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="serviceDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isPasswordRequiredResponse">
    <complexType>
     <sequence>
      <element name="isPasswordRequiredReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSObject">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns1_WSAttribute"/>
     <element name="itimDN" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="WSService">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="enrole" type="xsd:boolean"/>
       <element name="profileName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSupportingDataRequest">

      <wsdl:part element="impl:getSupportingData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceForAccountRequest">

      <wsdl:part element="impl:getServiceForAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isPasswordRequiredRequest">

      <wsdl:part element="impl:isPasswordRequired" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServicesRequest">

      <wsdl:part element="impl:getServices" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="getSupportingDataResponse">

      <wsdl:part element="impl:getSupportingDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServiceForAccountResponse">

      <wsdl:part element="impl:getServiceForAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="isPasswordRequiredResponse">

      <wsdl:part element="impl:isPasswordRequiredResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getServicesResponse">

      <wsdl:part element="impl:getServicesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:portType name="WSServiceService">

      <wsdl:operation name="getServiceForAccount">

         <wsdl:input message="impl:getServiceForAccountRequest" name="getServiceForAccountRequest"/>

         <wsdl:output message="impl:getServiceForAccountResponse" name="getServiceForAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getServices">

         <wsdl:input message="impl:getServicesRequest" name="getServicesRequest"/>

         <wsdl:output message="impl:getServicesResponse" name="getServicesResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportingData">

         <wsdl:input message="impl:getSupportingDataRequest" name="getSupportingDataRequest"/>

         <wsdl:output message="impl:getSupportingDataResponse" name="getSupportingDataResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="isPasswordRequired">

         <wsdl:input message="impl:isPasswordRequiredRequest" name="isPasswordRequiredRequest"/>

         <wsdl:output message="impl:isPasswordRequiredResponse" name="isPasswordRequiredResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSServiceServiceSoapBinding" type="impl:WSServiceService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getServiceForAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceForAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceForAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportingData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportingDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSupportingDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="isPasswordRequired">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isPasswordRequiredRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isPasswordRequiredResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSServiceServiceService">

      <wsdl:port binding="impl:WSServiceServiceSoapBinding" name="WSServiceService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9081/ITIMWebServices/services/WSServiceService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
