WSSearchDataService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="findSearchControlObjects">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="searchArgs" type="tns1:WSSearchArguments"/>
     </sequence>
    </complexType>
   </element>
   <element name="findSearchControlObjectsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findSearchControlObjectsReturn" type="tns1:WSSelectItem"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="fault" type="tns2:WSLoginServiceException"/>
   <element name="findSearchFilterObjects">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="searchArgs" type="tns1:WSSearchArguments"/>
     </sequence>
    </complexType>
   </element>
   <element name="findSearchFilterObjectsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findSearchFilterObjectsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAttributeNames">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="objectclass" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAttributeNamesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAttributeNamesReturn" type="tns1:WSSelectItem"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCommonPersonSearchAttributeNames">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCommonPersonSearchAttributeNamesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCommonPersonSearchAttributeNamesReturn" type="tns1:WSSelectItem"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchData">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="searchParamsArray" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchDataResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchForDelegates">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="filter" type="xsd:string"/>
      <element maxOccurs="unbounded" name="attrList" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchForDelegatesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchForDelegatesReturn" type="tns1:WSDelegatePerson"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSAttribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSAttribute"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSSystemUser">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSSystemUser"/>
    </sequence>
   </complexType>
   <element name="searchPersonsFromRoot">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="filter" type="xsd:string"/>
      <element maxOccurs="unbounded" name="attrList" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPersonsFromRootResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchPersonsFromRootReturn" type="tns1:WSPerson"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPersonsWithITIMAccount">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="filter" type="xsd:string"/>
      <element maxOccurs="unbounded" name="attrList" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchPersonsWithITIMAccountResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchPersonsWithITIMAccountReturn" type="tns1:WSPerson"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSSearchArguments">
    <sequence>
     <element name="base" nillable="true" type="xsd:string"/>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="contextDN" nillable="true" type="xsd:string"/>
     <element name="filter" nillable="true" type="xsd:string"/>
     <element name="objectclass" nillable="true" type="xsd:string"/>
     <element name="profile" nillable="true" type="xsd:string"/>
     <element name="returnedAttributeName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSSelectItem">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="label" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSObject">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns1_WSAttribute"/>
     <element name="itimDN" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="WSSystemUser">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="itimAdmin" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSDelegatePerson">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="systemUsers" nillable="true" type="impl:ArrayOf_tns1_WSSystemUser"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSPerson">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="profileName" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findSearchFilterObjectsResponse">

      <wsdl:part element="impl:findSearchFilterObjectsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchDataRequest">

      <wsdl:part element="impl:searchData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findSearchControlObjectsResponse">

      <wsdl:part element="impl:findSearchControlObjectsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="findSearchFilterObjectsRequest">

      <wsdl:part element="impl:findSearchFilterObjects" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="findSearchControlObjectsRequest">

      <wsdl:part element="impl:findSearchControlObjects" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchDataResponse">

      <wsdl:part element="impl:searchDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchPersonsWithITIMAccountRequest">

      <wsdl:part element="impl:searchPersonsWithITIMAccount" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchPersonsFromRootRequest">

      <wsdl:part element="impl:searchPersonsFromRoot" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAttributeNamesRequest">

      <wsdl:part element="impl:getAttributeNames" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchForDelegatesResponse">

      <wsdl:part element="impl:searchForDelegatesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCommonPersonSearchAttributeNamesResponse">

      <wsdl:part element="impl:getCommonPersonSearchAttributeNamesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getCommonPersonSearchAttributeNamesRequest">

      <wsdl:part element="impl:getCommonPersonSearchAttributeNames" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="searchForDelegatesRequest">

      <wsdl:part element="impl:searchForDelegates" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchPersonsWithITIMAccountResponse">

      <wsdl:part element="impl:searchPersonsWithITIMAccountResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchPersonsFromRootResponse">

      <wsdl:part element="impl:searchPersonsFromRootResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getAttributeNamesResponse">

      <wsdl:part element="impl:getAttributeNamesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSSearchDataService">

      <wsdl:operation name="findSearchControlObjects">

         <wsdl:input message="impl:findSearchControlObjectsRequest" name="findSearchControlObjectsRequest"/>

         <wsdl:output message="impl:findSearchControlObjectsResponse" name="findSearchControlObjectsResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="findSearchFilterObjects">

         <wsdl:input message="impl:findSearchFilterObjectsRequest" name="findSearchFilterObjectsRequest"/>

         <wsdl:output message="impl:findSearchFilterObjectsResponse" name="findSearchFilterObjectsResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getAttributeNames">

         <wsdl:input message="impl:getAttributeNamesRequest" name="getAttributeNamesRequest"/>

         <wsdl:output message="impl:getAttributeNamesResponse" name="getAttributeNamesResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getCommonPersonSearchAttributeNames">

         <wsdl:input message="impl:getCommonPersonSearchAttributeNamesRequest" name="getCommonPersonSearchAttributeNamesRequest"/>

         <wsdl:output message="impl:getCommonPersonSearchAttributeNamesResponse" name="getCommonPersonSearchAttributeNamesResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchData">

         <wsdl:input message="impl:searchDataRequest" name="searchDataRequest"/>

         <wsdl:output message="impl:searchDataResponse" name="searchDataResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchForDelegates">

         <wsdl:input message="impl:searchForDelegatesRequest" name="searchForDelegatesRequest"/>

         <wsdl:output message="impl:searchForDelegatesResponse" name="searchForDelegatesResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchPersonsFromRoot">

         <wsdl:input message="impl:searchPersonsFromRootRequest" name="searchPersonsFromRootRequest"/>

         <wsdl:output message="impl:searchPersonsFromRootResponse" name="searchPersonsFromRootResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="searchPersonsWithITIMAccount">

         <wsdl:input message="impl:searchPersonsWithITIMAccountRequest" name="searchPersonsWithITIMAccountRequest"/>

         <wsdl:output message="impl:searchPersonsWithITIMAccountResponse" name="searchPersonsWithITIMAccountResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSSearchDataServiceSoapBinding" type="impl:WSSearchDataService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findSearchControlObjects">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findSearchControlObjectsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findSearchControlObjectsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="findSearchFilterObjects">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findSearchFilterObjectsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findSearchFilterObjectsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAttributeNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAttributeNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAttributeNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCommonPersonSearchAttributeNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCommonPersonSearchAttributeNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCommonPersonSearchAttributeNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchForDelegates">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchForDelegatesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchForDelegatesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchPersonsFromRoot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPersonsFromRootRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchPersonsFromRootResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="searchPersonsWithITIMAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchPersonsWithITIMAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchPersonsWithITIMAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSSearchDataServiceService">

      <wsdl:port binding="impl:WSSearchDataServiceSoapBinding" name="WSSearchDataService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9081/ITIMWebServices/services/WSSearchDataService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
