WSSystemUserService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.ws.itim.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.ws.itim.ibm.com" xmlns:intf="http://services.ws.itim.ibm.com" xmlns:tns1="http://model.ws.itim.ibm.com" xmlns:tns2="http://exceptions.ws.itim.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <element name="addDelegate">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="delegator" type="tns1:WSSystemUser"/>
      <element name="delegate" type="tns1:WSDelegate"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns1_WSAttribute">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:WSAttribute"/>
    </sequence>
   </complexType>
   <element name="addDelegateResponse">
    <complexType/>
   </element>
   <element name="fault1" type="tns2:WSApplicationException"/>
   <element name="fault" type="tns2:WSInvalidSessionException"/>
   <element name="getChallengeResponseConfiguration">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getChallengeResponseConfigurationResponse">
    <complexType>
     <sequence>
      <element name="getChallengeResponseConfigurationReturn" type="tns1:WSChallengeResponseConfiguration"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDelegates">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="delegator" type="tns1:WSSystemUser"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDelegatesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getDelegatesReturn" type="tns1:WSDelegateInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getExistingChallengeResponseInfo">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getExistingChallengeResponseInfoResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getExistingChallengeResponseInfoReturn" type="tns1:WSChallengeResponseInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystemUser">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystemUserResponse">
    <complexType>
     <sequence>
      <element name="getSystemUserReturn" type="tns1:WSSystemUser"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault2" type="tns2:WSLoginServiceException"/>
   <element name="getSystemUsersForPerson">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="personDN" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSystemUsersForPersonResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getSystemUsersForPersonReturn" type="tns1:WSSystemUser"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyDelegate">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="delegator" type="tns1:WSSystemUser"/>
      <element name="oldDelegate" type="tns1:WSDelegate"/>
      <element name="newDelegate" type="tns1:WSDelegate"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyDelegateResponse">
    <complexType/>
   </element>
   <element name="removeDelegate">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element name="delegator" type="tns1:WSSystemUser"/>
      <element name="delegate" type="tns1:WSDelegate"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeDelegateResponse">
    <complexType/>
   </element>
   <element name="setChallengeResponseInfo">
    <complexType>
     <sequence>
      <element name="session" type="tns1:WSSession"/>
      <element maxOccurs="unbounded" name="newCRs" type="tns1:WSChallengeResponseInfo"/>
     </sequence>
    </complexType>
   </element>
   <element name="setChallengeResponseInfoResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://exceptions.ws.itim.ibm.com"/>
   <complexType name="WSSession">
    <sequence>
     <element name="clientSession" nillable="true" type="xsd:string"/>
     <element name="enforceChallengeResponse" type="xsd:boolean"/>
     <element name="sessionID" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="WSAttribute">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="values" nillable="true" type="impl:ArrayOf_xsd_string"/>
    </sequence>
   </complexType>
   <complexType name="WSObject">
    <sequence>
     <element name="attributes" nillable="true" type="impl:ArrayOf_tns1_WSAttribute"/>
     <element name="itimDN" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="select" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="WSSystemUser">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="itimAdmin" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSDelegate">
    <complexContent>
     <extension base="tns1:WSObject">
      <sequence>
       <element name="endDate" nillable="true" type="xsd:dateTime"/>
       <element name="startDate" nillable="true" type="xsd:dateTime"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSChallengeResponseConfiguration">
    <sequence>
     <element name="adminChallenges" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="challengeResponseEnabled" type="xsd:boolean"/>
     <element name="numberRequiredChallenges" type="xsd:int"/>
     <element name="userDefined" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="WSDelegateInfo">
    <complexContent>
     <extension base="tns1:WSDelegate">
      <sequence>
       <element name="accountActive" type="xsd:boolean"/>
       <element name="delegated" type="xsd:boolean"/>
       <element name="userid" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSChallengeResponseInfo">
    <sequence>
     <element name="answer" nillable="true" type="xsd:string"/>
     <element name="question" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exceptions.ws.itim.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://services.ws.itim.ibm.com"/>
   <import namespace="http://model.ws.itim.ibm.com"/>
   <complexType name="WSApplicationException">
    <sequence/>
   </complexType>
   <complexType name="WSLoginServiceException">
    <sequence/>
   </complexType>
   <complexType name="WSInvalidSessionException">
    <complexContent>
     <extension base="tns2:WSLoginServiceException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSystemUsersForPersonResponse">

      <wsdl:part element="impl:getSystemUsersForPersonResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getExistingChallengeResponseInfoRequest">

      <wsdl:part element="impl:getExistingChallengeResponseInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setChallengeResponseInfoRequest">

      <wsdl:part element="impl:setChallengeResponseInfo" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSystemUserRequest">

      <wsdl:part element="impl:getSystemUser" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getDelegatesResponse">

      <wsdl:part element="impl:getDelegatesResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSApplicationException">

      <wsdl:part element="impl:fault1" name="fault1"/>

   </wsdl:message>

   <wsdl:message name="getSystemUsersForPersonRequest">

      <wsdl:part element="impl:getSystemUsersForPerson" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSInvalidSessionException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getDelegatesRequest">

      <wsdl:part element="impl:getDelegates" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="modifyDelegateRequest">

      <wsdl:part element="impl:modifyDelegate" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="setChallengeResponseInfoResponse">

      <wsdl:part element="impl:setChallengeResponseInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getSystemUserResponse">

      <wsdl:part element="impl:getSystemUserResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getExistingChallengeResponseInfoResponse">

      <wsdl:part element="impl:getExistingChallengeResponseInfoResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addDelegateRequest">

      <wsdl:part element="impl:addDelegate" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChallengeResponseConfigurationResponse">

      <wsdl:part element="impl:getChallengeResponseConfigurationResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeDelegateResponse">

      <wsdl:part element="impl:removeDelegateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="removeDelegateRequest">

      <wsdl:part element="impl:removeDelegate" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addDelegateResponse">

      <wsdl:part element="impl:addDelegateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getChallengeResponseConfigurationRequest">

      <wsdl:part element="impl:getChallengeResponseConfiguration" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="WSLoginServiceException">

      <wsdl:part element="impl:fault2" name="fault2"/>

   </wsdl:message>

   <wsdl:message name="modifyDelegateResponse">

      <wsdl:part element="impl:modifyDelegateResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSSystemUserService">

      <wsdl:operation name="addDelegate">

         <wsdl:input message="impl:addDelegateRequest" name="addDelegateRequest"/>

         <wsdl:output message="impl:addDelegateResponse" name="addDelegateResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getChallengeResponseConfiguration">

         <wsdl:input message="impl:getChallengeResponseConfigurationRequest" name="getChallengeResponseConfigurationRequest"/>

         <wsdl:output message="impl:getChallengeResponseConfigurationResponse" name="getChallengeResponseConfigurationResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getDelegates">

         <wsdl:input message="impl:getDelegatesRequest" name="getDelegatesRequest"/>

         <wsdl:output message="impl:getDelegatesResponse" name="getDelegatesResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getExistingChallengeResponseInfo">

         <wsdl:input message="impl:getExistingChallengeResponseInfoRequest" name="getExistingChallengeResponseInfoRequest"/>

         <wsdl:output message="impl:getExistingChallengeResponseInfoResponse" name="getExistingChallengeResponseInfoResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getSystemUser">

         <wsdl:input message="impl:getSystemUserRequest" name="getSystemUserRequest"/>

         <wsdl:output message="impl:getSystemUserResponse" name="getSystemUserResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="getSystemUsersForPerson">

         <wsdl:input message="impl:getSystemUsersForPersonRequest" name="getSystemUsersForPersonRequest"/>

         <wsdl:output message="impl:getSystemUsersForPersonResponse" name="getSystemUsersForPersonResponse"/>

         <wsdl:fault message="impl:WSLoginServiceException" name="WSLoginServiceException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyDelegate">

         <wsdl:input message="impl:modifyDelegateRequest" name="modifyDelegateRequest"/>

         <wsdl:output message="impl:modifyDelegateResponse" name="modifyDelegateResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="removeDelegate">

         <wsdl:input message="impl:removeDelegateRequest" name="removeDelegateRequest"/>

         <wsdl:output message="impl:removeDelegateResponse" name="removeDelegateResponse"/>

         <wsdl:fault message="impl:WSInvalidSessionException" name="WSInvalidSessionException"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

      <wsdl:operation name="setChallengeResponseInfo">

         <wsdl:input message="impl:setChallengeResponseInfoRequest" name="setChallengeResponseInfoRequest"/>

         <wsdl:output message="impl:setChallengeResponseInfoResponse" name="setChallengeResponseInfoResponse"/>

         <wsdl:fault message="impl:WSApplicationException" name="WSApplicationException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSSystemUserServiceSoapBinding" type="impl:WSSystemUserService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addDelegate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDelegateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDelegateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getChallengeResponseConfiguration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChallengeResponseConfigurationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getChallengeResponseConfigurationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDelegates">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDelegatesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDelegatesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getExistingChallengeResponseInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getExistingChallengeResponseInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getExistingChallengeResponseInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSystemUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSystemUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSystemUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSystemUsersForPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSystemUsersForPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSystemUsersForPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSLoginServiceException">

            <wsdlsoap:fault name="WSLoginServiceException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyDelegate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyDelegateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyDelegateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeDelegate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeDelegateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeDelegateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSInvalidSessionException">

            <wsdlsoap:fault name="WSInvalidSessionException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setChallengeResponseInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setChallengeResponseInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setChallengeResponseInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="WSApplicationException">

            <wsdlsoap:fault name="WSApplicationException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSSystemUserServiceService">

      <wsdl:port binding="impl:WSSystemUserServiceSoapBinding" name="WSSystemUserService">

         <wsdlsoap:address location="http://appro-dev1.sysco.com:9081/ITIMWebServices/services/WSSystemUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
